body {
  font-family: Arial;
  padding: 20px;
}
.card {
  max-width: 300px;
  margin: auto;
  box-shadow: 0 0 10px #ccc;
  padding: 20px;
  border-radius: 8px;
}
input,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
button {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.admin-btn,
.home-btn {
  text-decoration: none;
  background: #007bff;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
}
